.entry .qs-datepicker-container
  position: relative
  top: calc(100% + 10px)
  margin-bottom: 60px
.settings .qs-datepicker-container
  position: absolute
  z-index: 3
  top: calc(100% + 30px)
.vacancy-form .qs-datepicker-container, .career__join-form .qs-datepicker-container
  position: absolute
  z-index: 3
  width: 100%
  top: calc(100% + 30px)
.qs
  &-datepicker
    background: $bg5k
    backdrop-filter: blur(5px)
    padding: 16px 8px
    border-radius: 2px
    color: $white
  &-controls
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 21px
  &-arrow
    width: 24px
    height: 24px
    cursor: pointer
    background: url("../img/select-down.png") no-repeat
    background-position: center center
  &-left
    transform: rotate(90deg)
  &-right
    transform: rotate(-90deg)
  &-squares
    display: grid
    grid-template-columns: repeat(7, 1fr)
  &-hidden
    display: none
  &-day
    font-weight: 700
    font-size: 11px
    line-height: 16px
    color: $formText
    padding-bottom: 8px
    text-align: center
  &-num
    font-size: 14px
    line-height: 20px
    text-align: center
    width: 41px
    height: 32px
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
  &-disabled, &-outside-current-month
    color: $formText
    cursor: default
  &-current
    font-weight: 700
    color: $white
    border-radius: 3px
    border: 1px solid $white
  &-overlay-month-container
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 10px 5px
  &-overlay-month
    text-align: center
    cursor: pointer
  &-submit
    display: block
    cursor: pointer
    margin-top: 15px
    text-align: center
  &-close
    text-align: center
    cursor: pointer
    margin: 10px auto
  &-month-year
    cursor: pointer
    span:first-of-type
      display: inline-block
      margin-right: 0.3em