.header
  background-color: $black
  color: $white
  &__wrap
    height: $headerHeight
    display: flex
    align-items: center
    justify-content: flex-start
    @include between(1280, 1919)
      height: $headerHeightLaptop
    @include max(767)
      height: $headerHeightMobile
  &__city
    margin-left: 60px
    @include between(768, 1279)
      margin-left: 20px
    @include max(767)
      display: none
  &__search
    margin-left: auto
    margin-right: 50px
    line-height: 1
    @include between(768, 1279)
      margin-right: 20px
    @include max(767)
      display: none
    svg
      width: 24px
      height: 24px
      fill: $white
.city
  &__current
    display: flex
    align-items: center
    justify-content: flex-start
    gap: 5px
    span
      font-weight: 700
    svg
      stroke: $white
      fill: transparent
      width: 14px
      height: 14px
.account-state
  display: flex
  align-items: center
  justify-content: flex-start
  gap: 8px
  @include max(767)
    display: none
  svg
    width: 24px
    height: 24px
    fill: $white
.burger
  width: 36px
  height: 36px
  stroke: $white
  margin-left: 50px
  @include between(768, 1279)
    margin-left: 20px
  @include max(767)
    margin-left: auto