.lk
  min-height: 100vh
  background: url("../img/bg.jpg") no-repeat
  background-size: cover
  padding-top: 181px
  color: $white
  z-index: 1
  @include between(1280, 1919)
    padding-top: 100px
  @include between(768, 1279)
    padding-top: 127px
  @include max(767)
    padding-top: 112px
  &__grid
    display: grid
    grid-template-columns: 270px 1fr
    grid-gap: 40px 20px
    @include between(1280, 1919)
      grid-template-columns: 240px 1fr
      grid-gap: 30px 20px
    @include max(1279)
      grid-template-columns: 1fr
      &>span
        display: none
    @include max(767)
      grid-gap: 34px
  h1
    padding-bottom: 35px
    border-bottom: 5px solid $white
    @include between(1280, 1919)
      padding-bottom: 15px
      border-bottom-width: 3px
    @include max(1279)
      padding-bottom: 10px
  &__sidebar
    li:not(:last-of-type)
      margin-bottom: 20px
      @include between(1280, 1919)
        margin-bottom: 10px
    @include max(1279)
      display: none
    &-button
      display: flex
      align-items: center
      white-space: nowrap
      justify-content: flex-start
      gap: 13px
      font-weight: 700
      font-size: 18px
      cursor: pointer
      padding: 14px
      border-radius: 5px
      color: $white
      &:hover, &:visited, &:focus
        color: $white
      &.active
        background: $buttonGlass
      @include between(1280, 1919)
        font-size: 16px
  &__person
    background: $bg5k
    border-radius: 10px
    padding: 40px 67px
    margin-bottom: 60px
    @include between(1280, 1919)
      padding: 30px 50px
      margin-bottom: 40px
    @include max(1279)
      padding: 20px
      margin-bottom: 40px
    &-top
      display: flex
      align-items: center
      justify-content: space-between
      padding-bottom: 44px
      @include between(1280, 1919)
        padding-bottom: 30px
      @include between(768, 1279)
        padding-bottom: 44px
      @include max(767)
        padding-bottom: 40px
    &-info
      display: grid
      grid-template-columns: repeat(4, 1fr)
      padding-bottom: 40px
      @include between(1280, 1919)
        padding-bottom: 30px
      @include max(767)
        grid-template-columns: repeat(3, 1fr)
        grid-gap: 40px
    &-box
      height: 80px
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      gap: 6px
      text-align: center
      &:not(&:last-of-type)
        border-right: 1px solid $moreGray
        @include max(767)
          border: none
      @include between(1280, 1919)
        height: 70px
      @include max(1279)
        height: 56px
        gap: 5px
      @include max(767)
        &:first-of-type
          grid-column: 1/-1
          .lk__person-hight
            font-weight: 700
    &-hight
      font-size: 32px
      font-weight: 700
      @include max(1919)
        font-size: 28px
      @include max(1279)
        font-weight: 400
    &-low
      font-size: 16px
      color: $formText
      @include between(768, 1279)
        font-size: 14px
    &-button
      width: 269px
      position: relative
      left: 50%
      transform: translateX(-50%)
  &__page
    padding-bottom: 60px
    &>h3
      padding-bottom: 31px
      @include between(768, 1279)
        padding-bottom: 20px
  &__table
    overflow-x: auto
    -ms-overflow-style: none
    scrollbar-width: none
    &::-webkit-scrollbar
      display: none
    @include between(768,1279)
      width: 100vw
      margin: 0 -27px
      padding: 0 27px
    @include max(767)
      width: 100vw
      margin: 0 -10px
      padding: 0 10px
    .thead
      display: grid
      grid-template-rows: auto
      font-size: 14px
      padding-bottom: 40px
      @include between(1280, 1919)
        padding-bottom: 20px
        font-size: 13px
      div
        background: $bg5k
        border-radius: 5px
        padding: 22px 0
        text-align: center
        font-weight: 700
        white-space: nowrap
        @include between(1280, 1919)
          padding: 15px 0
    .row
      display: grid
      grid-template-rows: auto
      div
        text-align: center
        padding: 30px 0
        border-bottom: 1px solid $white
        @include between(1280, 1919)
          padding: 15px 0
        @include between(768, 1279)
          font-size: 14px
        &:not(:last-of-type)
          border-right: 1px solid $white
  &__empty
    display: flex
    flex-direction: column
    gap: 30px
    align-items: center
    justify-content: flex-start
    div
      font-size: 18px
      color: $formText

.history
  @include min(1280)
    min-height: 480px
  &__table
    .thead
      grid-gap: 7px
      grid-template-columns: repeat(4, 1fr)
      @include max(1279)
        grid-template-columns: repeat(4, 187px)
    .row
      grid-template-columns: repeat(4, 1fr)
      @include max(1279)
        grid-template-columns: repeat(4, 194px)
  &__empty
    svg
      width: 148px
      height: 139px
.car
  @include min(1280)
    min-height: 500px
  &__table
    .thead
      grid-gap: 5px
      grid-template-columns: repeat(6, 1fr)
      @include between(1280, 1919)
        grid-gap: 3px
      @include max(1279)
        grid-template-columns: repeat(6, 233px)
    .row
      grid-template-columns: repeat(6, 1fr)
      @include max(1279)
        grid-template-columns: repeat(6, 238px)
  &__button
    margin-top: 20px
    position: relative
    left: 50%
    transform: translateX(-50%)
    gap: 8px
    @include max(1279)
      padding: 8px 12px
      width: fit-content
    &::before
      content: ''
      display: block
      width: 16px
      height: 16px
      background: url("../img/sprites-content/plus.svg") no-repeat center center/contain
  &__empty
    svg
      width: 148px
      height: 148px
.sale
  @include min(768)
    min-height: 535px
  &__empty
    padding-top: 100px
    @include between(768, 1279)
      padding-top: 80px
  &__wrap
    display: grid
    grid-template-rows: auto
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 20px
    margin-bottom: 140px
    @include between(1280, 1919)
      margin-bottom: 80px
      grid-gap: 15px
    @include max(1279)
      grid-template-columns: 1fr
      margin-bottom: 100px
  &__item
    color: $white
    background: $bg5k
    border-radius: 10px
    padding: 38px 40px
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center
    border: 1px solid transparent
    position: relative
    @include between(1280, 1919)
      padding: 25px 30px
    @include max(767)
      padding: 40px 15px
      justify-content: space-between
      min-height: 250px
    &::before
      content: ''
      position: absolute
      top: -2px
      bottom: -2px
      left: -2px
      right: -2px
      background: linear-gradient(101.03deg, rgba(255, 255, 255, 0.16) -14.99%, rgba(255, 255, 255, 0.04) 120.79%)
      border-radius: 10px
      z-index: -1
    &:hover
      background: $button
      &:before
        background: linear-gradient(101.03deg, rgba(255, 255, 255, 0.8) -14.99%, rgba(255, 255, 255, 0.2) 120.79%)
    &-title
      padding-bottom: 16px
      @include max(767)
        padding-bottom: 10px
        max-width: 200px
    &-more
      font-size: 14px
      line-height: 40px
      font-weight: 700
      display: flex
      align-items: center
      justify-content: flex-start
      gap: 8px
      @include between(1280, 1919)
        font-size: 12px
      &::after
        content: ''
        width: 20px
        height: 20px
        display: block
        background: url("../img/sprites-content/arrow-right.svg") center center/contain no-repeat
        @include between(1280, 1919)
          width: 16px
          height: 16px
    &-big
      font: 400 70px/84px $stoltz
      @include between(1280, 1919)
        font: 400 64px/74px $stoltz
      @include max(767)
        font: 400 60px/72px $stoltz
    &-img
      position: absolute
      right: 0
      bottom: 0
      @include max(767)
        max-width: 150px
.sale-detailed
  padding-bottom: 160px
  color: $extraLightGray
  @include max(767)
    padding-bottom: 40px
  &__img
    margin-bottom: 30px
    width: 100%
    @include max(1279)
      margin-bottom: 20px
  &__text
    font-size: 18px
    p:not(:last-of-type)
      padding-bottom: 30px
      @include max(767)
        padding-bottom: 10px
.settings
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: auto
  grid-gap: 80px
  margin-bottom: 80px
  @include between(1280, 1919)
    grid-gap: 60px
  @include max(1279)
    grid-gap: 40px
  h3
    padding-bottom: 30px
    @include max(1279)
      padding-bottom: 20px
  &__input-wrap
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 55px 140px
    @include between(1280, 1919)
      grid-gap: 55px 80px
    @include between(768,1279)
      grid-template-columns: 335px
      grid-gap: 30px
    @include max(767)
      grid-template-columns: 1fr
      grid-gap: 30px
  &__row
    position: relative
    .input
      padding: 17px 12px
      color: $white
      font-size: 18px
      border-bottom: 1px solid $white
      &::placeholder
        color: $formText
        font-weight: 600
        font-size: 16px
        line-height: 24px
        @include max(767)
          font-weight: 400
    &_labled .input
      padding: 27px 52px 7px
  &__select
    display: none
  .select
    padding: 0
    &__selected
      padding: 26px 16px 8px
      color: $white
      font-size: 18px
      border-bottom: 1px solid $white
  &__label
    width: 24px
    height: 24px
    position: absolute
    top: 26px
    left: 12px
    & + .input
      padding: 27px 16px 7px 52px
  .country
    top: 28px
    left: 16px
    transform: translateY(-50%)
    cursor: text
    position: absolute
    display: flex
    align-items: center
    justify-content: flex-start
    gap: 12px
    @include between(1280, 1919)
      gap: 4px
    &::after
      content: ''
      width: 1px
      height: 20px
      background: $whiteGradient
    & + .input
      padding: 17px 16px 12px 52px
      @include between(1280, 1919)
        padding-left: 40px
  .send-sms
    position: absolute
    right: 16px
    top: calc(100% + 8px)
    font-size: 13px
    line-height: 16px
    letter-spacing: 0.1px
    color: $white
    @include between(1280, 1919)
      top: calc(100% + 4px)
      font-size: 12px
      line-height: 14px
  &__notification-block
    display: grid
    grid-template-columns: 428px 428px
    grid-template-rows: auto
    grid-gap: 20px 45px
    @include between(768,1279)
      grid-template-columns: 428px
    @include max(767)
      grid-template-columns: 1fr
  &__password
    .input
      padding: 26px 50px 6px 16px
    svg
      position: absolute
      right: 16px
      top: 16px
  &__submit
    @include min(768)
      width: 175px