*
  box-sizing: border-box
  outline: none

html
  overflow-x: hidden

body, input, textarea, table, button
  font-family: $proximaNova

body
  font-weight: 400
  font-size: 18px
  line-height: 1.2
  margin: 0
  width: 100%
  padding: 0
  overflow-x: hidden
  display: flex
  flex-direction: column
  justify-content: flex-start
  min-width: 320px
  min-height: 100vh
  position: relative
  @include between(1280, 1919)
    font-size: 16px
  @include max(767)
    font-size: 14px

html
  height: 100%

header,
footer,
section,
main
  position: relative

.container
  width: 100%
  padding: 0 15px
  margin: 0 auto
  max-width: 1750px
  @include between(768, 1279)
    padding: 0 27px
  @include max(767)
    padding: 0 10px
.container-md
  width: 100%
  padding: 0 15px
  margin: 0 auto
  max-width: 1450px
.container-sm
  width: 100%
  padding: 0 15px
  margin: 0 auto
  max-width: 1210px
  @include between(768, 1279)
    padding: 0 27px
  @include max(767)
    padding: 0 10px

input:-webkit-autofill,
input:-webkit-autofill:focus
  transition: background-color 600000s 0s, color 600000s 0s

input[type=search]::-ms-clear
  display: none
  width: 0
  height: 0

input[type=search]::-ms-reveal
  display: none
  width: 0
  height: 0

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
  display: none

input::-webkit-calendar-picker-indicator
  opacity: 0

nav
  list-style-type: none
ul
  list-style-type: none
  li
    padding: 0
    list-style-position: inside

ol
  margin: 0
  padding: 0
  li
    list-style-position: inside
    padding: 0
a
  text-decoration: none

h1, h2, h3, p, ul
  margin: 0
  padding: 0
  font-weight: 400

table
  width: 100%

.button
  display: inline-flex
  justify-content: center
  align-items: center
  cursor: pointer
  white-space: nowrap
  border-radius: 8px
  padding: 9px 20px
  border: none
  transition: all 0.3s ease
  font-size: 14px
  line-height: 22px

h1
  font: 400 120px/144px $stoltz
  @include between(1280, 1919)
    font: 400 70px/100px $stoltz
  @include between(768, 1279)
    font: 400 68px/72px $stoltz
  @include max(767)
    font: 400 28px/1.2 $stoltz

h2
  font: 400 60px/72px $stoltz
  @include between(1280, 1919)
    font: 400 54px/64px $stoltz
  @include max(767)
    font: 400 28px/1.2 $stoltz
h3
  font: 400 28px/33.6px $stoltz
  @include between(1280, 1919)
    font: 400 22px/28px $stoltz
  @include max(767)
    font: 400 21px/1.2 $stoltz


.img
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden

  img, picture
    width: 100%
    height: 100%
    display: block
    object-fit: cover

select
  width: 100%
  appearance: none
  -moz-appearance: none
  -webkit-appearance: none
  outline: none
  &::-ms-expand
    display: none

input, textarea
  border: none
  outline: none
  width: 100%

textarea
  resize: none

button
  border: none

address
  font-style: normal
svg
  width: 24px
  height: 24px

.input
  background: transparent

.desktop
  @include max(1279)
    display: none !important
.mobile
  @include min(768)
    display: none !important
.hide-on-mobile
  @include max(767)
    display: none !important
.hide-on-desktop
  @include min(1280)
    display: none !important
.nowrap
  white-space: nowrap
.hidden
  display: none
.pointer
  cursor: pointer
.relative
  position: relative
.bold
  font-weight: 700
.button-red
  display: inline-flex
  background: $redGradient
  color: $white
  font-size: 14px
  line-height: 24px
  font-weight: 700
  border-radius: 4px
  cursor: pointer
  white-space: nowrap
  padding: 8px 0
  justify-content: center
  align-items: center
  @include max(767)
    width: 100%
.button-dark
  width: 300px
  height: 40px
  display: flex
  align-items: center
  justify-content: center
  background: $buttonGlass
  border-radius: 4px
  cursor: pointer
  line-height: 20px
  gap: 8px
  color: $white
  white-space: nowrap
  @include max(767)
    width: 100%
.button-dark-border
  padding: 8px
  border-radius: 4px
  cursor: pointer
  white-space: nowrap
  font-size: 14px
  line-height: 24px
  font-weight: 700
  display: flex
  align-items: center
  justify-content: center
  background: $buttonGlass
  position: relative
  color: $white
  &::before
    content: ""
    position: absolute
    top: -1px
    bottom: -1px
    left: -1px
    right: -1px
    background: $whiteGradient
    border-radius: 4px
    z-index: -1
.main-bg
  min-height: 100vh
  height: 100%
  background: url("../img/bg.jpg") no-repeat
  background-size: cover
  color: $white
  z-index: 1
  overflow: hidden
.breadcrumbs
  display: flex
  align-items: center
  justify-content: flex-start
  margin-bottom: 40px
  a
    color: $white
    font-size: 12px
    line-height: 15px
    font-weight: 700
    &:not(:last-of-type)
      color: $formText
      font-weight: 400
      &::after
        content: '•'
        margin: 0 1em